<div id="divPrincipal">
    <h1 style="color: red; text-decoration: underline;">EJERCICIO 1</h1><br><br><br>
    <label class="lbl">Ingrese edad 1 </label><br>
    <input type="number" id="edad1" [(ngModel)]="edad1" class="txt"><br><br>
    <label class="lbl">Ingrese edad 2 </label><br>
    <input type="number" id="edad2" [(ngModel)]="edad2" class="txt">
    <br><br>
    <button (click)="CalcularPromedio()" class="btn">Calcular</button>
    <button (click)="Limpiar()" class="btn">Limpiar</button>
    
    <br><br>
    <label class="lbl">Promedio </label><br>
    <input type="text" id="prom" [(ngModel)]="prom" class="txt" disabled>
    
    <br>
    <label class="lbl">Suma </label><br>
    <input type="text" id="suma" [(ngModel)]="suma" class="txt" disabled>
</div>
