<div id="divPrincipal">
    <h1>EJERCICIO 1</h1>
    <label>Ingrese edad 1: </label>
    <input type="text" id="edad1" [(ngModel)]="edad1"><br><br>
    <label>Ingrese edad 2: </label>
    <input type="text" id="edad2" [(ngModel)]="edad2">
    <br><br>
    <button (click)="CalcularPromedio()" class="btn">Calcular</button>
    <button (click)="Limpiar()" class="btn">Limpiar</button>
    
    <br><br>
    <label>PROMEDIO: </label>
    <input type="text" id="prom" [(ngModel)]="prom" disabled>
    
    <br>
    <label>SUMA: </label>
    <input type="text" id="suma" [(ngModel)]="suma" disabled>
</div>
